.container{
  background-color: yellow;
}

img {
  margin: 1em;
}

div.main {
color: green;
background-color: #eee;
}

img.my-float-left {
  float: left;
  width: 30%;
}

img.my-float-right {
float: right;
width: 30%;
}

.header, .footer {
  width: 100%;
  border: 3px solid blue;
  text-align: center;
}

div.column-left {
  width: 30%;
  float: left;
}

img.my-float-left-large {
  width: 75%;
  margin-left: 0em;
  margin-right: 1em;
  margin-bottom: 1em;
}

div.my-menu {

}
