body {
  background-repeat: no-repeat;
  background-image: url("../img/Juso.jpg");
  background-position: center;
  background-size: cover;
}


.container {
  width: 100%;
  margin: 0em;
  padding: 0em;
  line-height: 150%;
}

div.header, div.footer {
  color: #edf3ff;
  padding: 0em;
  margin: 0em;
  clear: left;
  text-align: center;
}

div.footer {
  background-image: url("../img/stock-image.jpg");
  border: 3px solid #f5ffa0;

}

div.homepage-content {

}

ul.project-description {
  color: white;
}


div.left {
  /*border: 3px solid red;*/
  float: left;
  margin: 1em;
  padding: 0em;

}

div.content {
  /*border: 3px solid orange;*/
  color: #edf3ff;
  font-family: georgia;
  padding: 0em;
  margin: 0em;
}

span.section-title {
  /*border: 3px solid blue;*/
  font-weight: bold;
  margin-right: 1em;
  padding: 0em;
}

div.sidebar {
  /*border: 3px solid #73AD21;*/
  width: 30%;
  float: right;
  color: #3e444c;
  text-align: center;
  margin: 1em;
  background: linear-gradient(#afb2a2, #cde562);
  opacity: 0.7;
  filter: alpha(opacity=30);
}

ol {
  list-style: none;
  margin: 1em;
  padding: .5em;
}

div.my-menu {
  padding-bottom: 5em;
  /*font-weight: bold;*/
  /*font-size: 1.5em;*/
}

li.my-unselected:hover {
  opacity: 0.5;
  filter: alpha(opacity=30);
}

/*
div.my-project-image:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}*/



/*ADD STOCK IMAGE TO EACH PROJECT, GOES OPAQUE WHEN YOU HOVER*/
